#container  {
	position:relative;
	margin-top:90px;
	margin-left:10px;

 	
}

#admin_box
{
	width:700px;
	position:absolute;
	margin-left:350px;
	margin-top:150px;
}
#admin_box a
{
	display:block;
	width:250px;
	height:20px;
	background-color:#0099FF;
	text-align:center;
	padding:10px 0;
	font-size:20px;
	color:#FFFFFF;
}

#bg{
	background-image:url(../images/grey.jpg);
	background-repeat:no-repeat; 
	background-attachment: fixed;
}
#main{
	margin:190px 500px 25px 0px;
	position:absolute;
	width:40px;
}

#tabpos {
	margin-top: 20px;
}

#nav {
	position: relative;
	
	float: left;
	margin: 0px 50px 0px 250px;
}
#nav li {
	float: left;
	list-style: none;
	border:1px #248DEF ;
	
	
}
#nav li a {
	color:#000000;
	position: relative;
	z-index: 2;
	float: left;
	font-size: 14px;
	font-family:"Comic Sans MS", cursive;
	text-decoration: none;
	padding: 15px 15px;
	
}
ul, li {
	margin: 0; padding: 0;
}
#blob {
	border-right: 1px solid #0059ec;
	border-left: 1px solid #0059ec;
	position: absolute;
	top: 0;
	
	z-index : 1;
	background:#CCF;
	background: -moz-linear-gradient(top, #00F, #00F);
	opacity:0.9;filter:alpha(opacity=80); 
	background: -webkit-gradient(linear, left top, left bottom, from( #2A7FFF), to( #2A7FFF));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 2px 3px 10px #011331;
	-webkit-box-shadow: 2px 3px 10px #011331;
}

#footer{
	position:absolute;
	margin-top:1100px;
	margin-left:375px;
}
#footer1{
	position:absolute;
	margin-top:500px;
	margin-left:375px;
}
#footer2{
	position:absolute;
	margin-top:1100px;
	margin-left:375px;
}
#footer3{
	position:absolute;
	margin-top:2000px;
	margin-left:375px;
}